* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    font-size: .9rem;
    box-sizing: border-box;
}

/* This part of the styling are the reusable class */
.f-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* .s-redirect-btn {
    font-size: .7rem;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(--yellow);
    padding: 0px 5px;
} */

table {
    border-collapse: collapse;
    text-align: center;
    background-color: var(--light-grey);
    border-radius: 10px;
}

table thead {
    background-color: var(--dark-green);
    font-weight: bold;
    color: white;
    position: sticky;
    top: 0px;
}

table td {
    padding: 5px;
    border-bottom: 1px solid black;
    width: auto;
    height: fit-content;
}


tr:has(td button:hover) {     
    background-color: lightblue;  /* Change to your desired color */ 
}

.card-info {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    height: 80%;
    border-radius: 10px;
}

h6.large-text {
    font-size: 4rem;
    font-weight: normal;
}

.card-label {
    font-size: 1.0rem;
    font-weight: 600;
    text-wrap: nowrap;
}

.large-panel {
    height: 100%;
}

.small-panel {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.s-table {
    border: 2px solid black;
    border-radius: 10px;
}

button {
    background-color: var(--dark-green);
    color: white;
    text-wrap: nowrap;
    padding: 0px 10px;
}

button:hover {
    background-color: yellow;
    color: black;
}

/* This part of the styling are the individual class */
.content-wrapper {
    padding: 20px;
}

.top-section {
    gap: 20px;
    height: fit-content;
    justify-content: space-evenly;
}

.stats-card-container .cont-header {
    margin-bottom: 5px;
}

/* .content-title-container {
    align-self: center;
    text-align: center;
}

.content-title-container h1 {
    font-size: 4rem;
} */

.middle-section {
    margin-top: 20px;
    height: 70vh;
    gap: 20px;
    position: relative;
}

.wlp-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--light-grey);
}

.wlp-list{
    overflow-y: scroll;
    border: 1px solid black;
    height: 100%;
    margin: 5px 0px;
}

.wlp-list table {
    border: 1px solid black;
    background-color: white;
}

.add-wlp {
    width: 50px;
    height: 50px;
    background-color: var(--dark-green);
    border-radius: 50px;
    border: 1px solid black;
    font-size: 2rem;
}

.add-wlp:hover {
    background-color: var(--yellow);
}
.add-wlp:hover .save-button{
    filter: invert(0);
}


.table-section {
    margin-top: 20px;
    height: 80%;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}

.table-toolbox {
    margin-top: 10px;
}

.wlp-buttons{
    display: flex;
    gap: 10px;
    position: relative;
    width: 100%;
    justify-content: right;
    gap: 10px;
}

.wlp-buttons img{
    width: 25px;
    height: 25px;
    filter: invert(1);
}


/* MODAL STYLING */
.form-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #00000025;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.form-container {
    width: 50%;
    background-color: white;
    padding: 50px 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.form-container h1 {
    font-size: 3rem;
    text-align: center;
}

.input-data-container {
    padding: 20px;
}

.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.input-box label {
    font-size: 1.2rem;
}

.input-box input {
    font-size: 1.2rem;
    padding: 10px;
}
.input-box select {
    font-size: 1.2rem;
    padding: 10px;
}

.input-data-btn {
    margin-top: 10px;
    gap: 20px;
}

.input-data-btn button {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
}

.cancel-btn {
    background-color: white;
    color: black;
}

.cancel-btn:hover {
    background-color: red;

}

/*pop up*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup Box */
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

/* OK Button */
.popup-content button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Error Color */
.popup.error .popup-content {
    border-left: 5px solid #dc3545;
}

/* Success Color */
.popup.success .popup-content {
    border-left: 5px solid #28a745;
}

/* login model css */
.namecard{
    position: fixed;
    z-index: 9999;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.644);
}

.login-card{
    display:flex;
    flex-direction: column;
    background-color: white;
    height:50vh;
    width:40vw;
    top: 50%;
    left: 50%;
    position: absolute ;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    padding:5px 40px 10px 40px;
    justify-content: space-around;
    font-size:3.2rem;
    align-items: center;
}

.login-card label{
    font-size:1.5rem;
}

.login-card input{
    height:40px;
    font-size:1.2rem;
    padding:0 15px;
    border:1px solid black;
    border-radius: 2px;
}
.login-card .logo{
    width: fit-content;
}
.login-card .logo img{
    height: 100px;
    width: 150px;
}

.login-card .logo h2{
    font-size:3rem;
    line-height: .8;
}
.login-card .logo .first{
    letter-spacing: 10px;
}
.login-title-card{
    padding:15px ;
}

.login-card button{
    width: 10vw;
    height: 5vh;
    border-radius: 35px;
}



