* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    font-size: .9rem;
    box-sizing: border-box;
}

/* This part of the styling are the reusable class */
.f-row {
    display: flex;
    flex-direction: row;
}

/* .s-redirect-btn {
    font-size: .7rem;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
    background-color: var(--yellow);
    padding: 0px 5px;
} */

table {
    border-collapse: collapse;
    text-align: center;
    background-color: var(--light-grey);
    border-radius: 10px;
}

table thead {
    background-color: var(--dark-green);
    font-weight: bold;
    color: white;
}

table td {
    padding: 5px;
    border-bottom: 1px solid black;
    width: auto;
    height: fit-content;
}

.card-info {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    height: 80%;
    border-radius: 10px;

}

h6.large-text {
    font-size: 4rem;
    font-weight: normal;
}

.card-label {
    font-size: 1.2rem;
    font-weight: 600;
}

.large-panel {
    height: 100%;

}

.small-panel {
    height: 100%;
    width: 25%;
}

.s-table {
    border: 2px solid black;
    border-radius: 10px;
}

button {
    background-color: var(--dark-green);
    color: white;
}

button:hover {
    background-color: yellow;
    color: black;
}

/* This part of the styling are the individual class */
.content-wrapper {
    padding: 20px;
}

.top-section {
    gap: 50px;
    height: fit-content;
}


.stats-card-container .f-row {
    gap: 10px;
    height: 100%;
}

.stats-card-container .cont-header{
    display: flex;
    gap: 450px;
}

.stats-card-container .cont-header .add-container{
    cursor: pointer;
}

.content-title-container {
    align-self: center;
    text-align: center;
}

.content-title-container h1 {
    font-size: 4rem;
}

.middle-section {
    margin-top: 20px;
    height: 70vh;
    gap: 20px;
    position: relative;
}

.wlp-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--light-grey);
}

.wlp-list table {
    border: 1px solid black;
    background-color: white;
}

.add-wlp {
    width: 50px;
    height: 50px;
    background-color: var(--dark-green);
    border-radius: 50px;
    border: 1px solid black;
    font-size: 2rem;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.add-wlp:hover {
    background-color: var(--yellow);
}

.table-section {
    margin-top: 20px;
    height: 85%;
    border: 2px solid black;
    border-radius: 10px;
    overflow-y: scroll;
}

.table-section table thead {
    position: sticky;
    top: 0px;
}

/* MODAL STYLING */
.form-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #00000025;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.form-container {
    width: 50%;
    background-color: white;
    padding: 50px 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.form-container h1 {
    font-size: 3rem;
    text-align: center;
}

.input-data-container {
    padding: 50px;
}

.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.input-box label {
    font-size: 1.2rem;
}

.input-box input {
    font-size: 1.2rem;
    padding: 10px;
}

.input-data-btn {
    gap: 20px;
}

.input-data-btn button {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
}

.cancel-btn {
    background-color: white;
    color: black;
}

.cancel-btn:hover {
    background-color: red;

}